.base-card {
    margin: 0 auto;
    padding: 2rem;
    margin-top: 100px;
    max-width: 80vh;
    background: var(--color-dark);
    position: relative;
}

.base-card::after,
.base-card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle-border), 
        rgba(0,0,0,0.3) 10%, 
        var(--color-light) 20%,
        rgba(0,0,0,0.3) 20%,
        rgba(0,0,0,0.3) 60%,
        var(--color-light) 70%,
        rgba(0,0,0,0.3) 70%
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: .5rem;
    animation: angle-rotate 3s linear infinite;
    
}

.base-card::after {
    filter: blur(1.5rem);
}