@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    font-family: 'RobotoBold';
    font-weight: 700;
    word-wrap: break-word;
}

body {
    padding-top: 4rem;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 30% 0;
}


.document {
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    
}

#information {
    max-width: 1200px;
    margin: 0 auto;
}

h3 {
    padding: 10px;
}

#download-badge {
    position: absolute;
    right: 20px;
    top: 0 ;
}

#download-badge button {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: radial-gradient(rgb(58, 58, 58), rgb(0, 0, 0) , rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    border: 4px dashed white;
    box-shadow: 0 0 10px black;
}

#download-badge button:hover {
    border: 4px dotted yellowgreen;
    box-shadow: 0 0 20px yellowgreen;
}