:root {
    --color-light: rgb(0, 255, 255) ;
    --color-dark: rgb(0, 0, 0);

    --background-color-light: rgb(0, 77, 77) ;
    --background-color-dark: rgb(14, 14, 14) ;
}

body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: White;
    box-sizing: border-box;
    background: 
    linear-gradient(
        to top right, 
            var(--background-color-light),
            var(--background-color-dark),
            var(--background-color-light)
    );
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 2rem;
}


@property --angle-border {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes angle-rotate {
    from {
        --angle-border: 0deg;
    } to {
        --angle-border: 360deg;
    }
    
}