@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --color-light: rgb(255, 195, 45);
    --color-second-light: rgb(245, 245, 245);
    --color-dark: black;
    --color-second-dark: rgb(173, 173, 173);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-wrap: wrap;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(209, 209, 209);
}

.hidden {
    display: none;
}

.scroll-btn{
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0;
    background-color: var(--color-light) ;
    bottom: 0;
    color: white;
    display: none;
    margin: 50px;
    position: fixed;
    right: 0;
    width: 70px;
    z-index: 100;
}

.scroll-btn::before{
    content: '' ;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: rgb(80, 80, 80);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 4px black;
}


header {
    align-items: last baseline;
    background: var(--color-light);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 0;
    flex-wrap: wrap;
}

.brand {
    margin: 0;
    font-weight: 400;
}

.brand span {
    font-weight: 900;
}

nav {
    height: 100%;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-list li {
    margin: 20px 0 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.nav-list li:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 100%;
}

.baner {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.baner::before {
    content: '';
    right: -15%;
    background: black;
    top: 0;
    width: 45%;
    height: 500px;
    position: absolute;
    transform: skewX(-30deg);
    border-left: solid 80px var(--color-light);
    outline: solid 40px rgba(255, 255, 255, 0.849);
}

.baner-caption {
    aspect-ratio: 1 /1;
    height: 50%;
    top: 50%;
    right: 10%;
    background: white;
    position: absolute;
    transform: translateY(-50%);
    align-items: center;
    box-shadow: 0 0 10px black;
}

.baner-caption::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    transform: rotate(45deg);
    z-index: -1;
}

.baner-caption-body {
    position: block;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.baner-caption-body div {
    text-align: center;
    font-size: 50px;

}

.baner-caption-body div:nth-child(1) {
    font-weight: 800;
}

.btn-read-more:hover {
    text-decoration: underline;
    background-color: goldenrod;
    cursor: pointer;
}

.btn-read-more {
    background: var(--color-light);
    border: 0;
    font-weight: 600;
    width: 100%;
    padding: 10px;
}

main {
    width: 100%;
    position: relative;
}

.container {
    margin: 0 auto;
    padding: 0;
    height: auto;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}

.first-background-style::after {
    background: white;
    border-left: solid 200px var(--color-light);
    border-right: solid 50px var(--color-light);
    outline: solid 50px rgba(218, 165, 32, 0.753);
    content: '';
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 50px;
    top: 0;
    right: 35%;
    transform: skewX(-30deg);
    z-index: -1;
}


#personal-information {
    width: 100%;
    padding: 10px;
    padding: 100px 0;
    display: flex;
}

#personal-information > div {
    padding: 0 20px;
    width: 50%;
}

.about-me {
    border-radius: 5px;
    margin: 0 auto;
    width: 80%;
    padding: 30px;
}

.about-me>div {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.profile-img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
}

.information {
    margin-top: 20px;
}

.information-body {
    background: rgba(0, 0, 0, 0.233);
    padding: 1rem;
    font-weight: 500;
}

.information-title {
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--color-dark);
    color: white;
    margin: 0;
    padding: 1rem;
}

.projects {
    background: var(--color-second-dark);
    margin-top: 100px;
    position: relative;
}

.projects-head {
    background-color: gray;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 3px solid rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.856);
}

.projects::before {
    content: '';
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0));
    top: -100px;
    left: 0;
    position: absolute;
}

.projects::after {
    content: '';
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0));
    bottom: 0;
    left: 0;
    position: absolute;
}

#my-projects {
    width: 100%;
    top: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#my-projects li {
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 300px;
    background: var(--color-light);
    border-radius: 10px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.384);
    border: 5px solid goldenrod;
    transform: translateY(-50px);
}

#my-projects li:hover {
    transform: translateY(-70px);
}


.project-title {
    font-size: 24px;
    font-weight: bold;
}


.center {
    display: flex;
    justify-content: center;
}

.form-contact {
    min-width: 50%;
    margin: 100px auto;
    margin: 100px;
    background: white;
    padding: 50px;
    position: relative;
    box-shadow: 0 0 16px black;
}

.form-contact::before {
    content: '';
    width: 100%;
    height: 100%;
    top: -50px;
    right: 50px;
    background: rgba(0, 0, 0, 0.699);
    position: absolute;
    z-index: -1;
}

.form-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.form-label {
    margin-top: 20px;
    display: block;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 700;
}

.form-control {
    width: 100%;
    height: 2rem;
}

textarea.form-control {
    height: 5rem;
}


footer {
    box-shadow: inset 0px 10px 20px -10px black;
    min-height: 200px;
    background: var(--color-second-dark);
    padding: 20px;
}

.footer-title {
    padding: 10px 0;
    font-size: 24px;
    text-decoration: underline;
}

#socials {
    list-style: '🔗';
    /* list-style: none; */
    /* margin-left: 30px; */

}

#socials li {
    font-size: 24px;
}


/* .link-icon {
    height: 24px;
    width: auto;
    padding: 0 10px;
    top: 50%;
    left: 0px;
    position: absolute;
    transform: translateY(-50%) translateX(-100%);
} */



@media screen and (max-width: 600px) {
    header {
        justify-content: start;
    }

    .brand {
        width: 100%;
        text-align: center;
    }

    .nav-list {
        display: block;
    }
    
    .nav-list li {
        font-size: 16px;
    }

    #personal-information {
        flex-wrap: wrap;
    }

    #personal-information>div {
        width: 100%;
    }

    .form-contact {
        min-width: 50%;
        margin: 0 auto;
        margin: 10px;
        background: white;
        padding: 50px;
        position: relative;
        box-shadow: 0 0 16px black;
    }
}