.container-photo-profile {
    display: flex;
    justify-content: center;
}

.profile-box {
    position: relative;
}

.profil-photo {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.profil-photo::before ,
.profil-photo::after {
    content: "";
    background: linear-gradient(
        var(--angle-border),
        rgba(0,0,0,0.2) 0%,
        var(--color-light) 10%,
        var(--color-light) 33%,
        rgba(0,0,0,0.2)33%,
        rgba(0,0,0,0.2) 66%,
        var(--color-light) 10%,
        rgba(0,0,0,0.2) 99%
        );
    animation: angle-rotate 10s infinite linear;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    padding: .5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.profil-photo::after
 {
    filter: blur(1.4rem);
} 


.profil-photo > img {
    transform: translateY(-10%);
    background-color: BLACK;
}


@media screen and (max-width: 800px) {
    .profil-photo {
        width: 60vw;
        height: 60vw;
    }
}
