.profil-photo {
    position: relative;
    width: 17vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    z-index: 100;
}

.profil-photo > img {
    transform: translateY(-10%);
    background-color: black;
}
.border-fade {
    position: relative;
}

.border-fade::before {
    position: absolute;
    background: linear-gradient(
        var(--angle-border),

        rgba(0,0,0,0) 0%,
        var(--color-light) 33%,
        rgba(0,0,0,0)33%,
        var(--color-light) 66%, 
        rgba(0,0,0,0) 66%,
        var(--color-light) 90%,
        rgba(0,0,0,0) 99%
        
        );
    animation: angle-rotate 10s infinite linear;
    border-radius: 50%;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
}

.border-fade::after {
    filter: blur(8px);
    position: absolute;
    background: linear-gradient(
        var(--angle-border),

        rgba(0,0,0,0) 0%,
        var(--color-light) 33%,
        rgba(0,0,0,0)33%,
        var(--color-light) 66%, 
        rgba(0,0,0,0) 66%,
        var(--color-light) 90%,
        rgba(0,0,0,0) 99%
        
        );
    animation: angle-rotate 10s infinite linear;
    border-radius: 50%;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
}
