@use '@styles/index.scss' as *;
@use '../../styles/index' as *;

.detailsPanel {
    width: 30vw;
    color: $text-color;
}

.details {
    @include card-style;
    background-color: $card-color-primary;
    margin-left: $basicMargin;
    padding: 0;
    position: relative;
}