@use "@styles/index.scss" as *;
@use "../../styles/index" as *;

.detailsPanel {
    width: 40%;
    color: $text-color-basic;
}

.details {
    @include card-style;
    background-color: $card-color-primary;
    margin-left: $basicMargin;
    padding: 0;
    position: relative;
}
