@use "@shared/styles" as *;

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: $text-white;
    backdrop-filter: blur(4px);
    background: rgba($bg-secondary, .4);
    z-index: 1000;
    
    .navContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    
        .banerTitle {
            font-family: "Bauhaus 93", Arial, Helvetica, sans-serif;
        }
        
        .navList {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            
            .navItem {
                margin-left: 1rem;
                cursor: pointer;
            
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}


