@use "@shared/styles" as *;

.listItem {
    margin-bottom: 0.3rem;
    color: $primary;
    text-transform: uppercase;
    padding-left: 1rem;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        width: 10px;
        content: "";
        background-color: $primary;
        border-radius: 1rem 0 0 1rem;
    }
}
