@use '@styles/index' as *;
@use '../../styles/index' as *;

.btn {
    padding: .5*$basicPadding $basicPadding;
    background-color: $accent-color;
    border-radius: $borderRadius;
    outline: none;
    border: 0;
}