@use "@shared/styles" as *;


.personalCard {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    color: $text-muted;

    img {
        margin: 0 auto;
        width: 100%;
        max-width: $xs;
        mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    }
 
    .personalDetails {
        border-radius: 1rem;
        margin: 2rem;
        margin-top: -3rem;
        padding: 1rem;
        background-color: $secondary;
        z-index: 100 ;
        
        .personalContent {
            .gretting {
                font-weight: bold;
                color: $primary;
            }
    
            .profession {
                color: $info;
                border-left: 3px solid $info;
                padding-left: 1rem;
            }

           
        }

        button {
            margin-top: .2rem;
            background-color: $primary;
        }
    }

    @media (width > $md){
        margin-top: -200px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        img {
            margin: 0;
        }

        .aboutMe {
            max-width: $md;
        }

        
    }
}

