@use "@shared/styles/index" as *;
@use "../../styles/index.scss" as *;

.personalCard {
    color: $text-color-basic;
    position: relative;
    padding-bottom: $basicPadding * 3;

    &Content {
        padding-top: $basicPadding * 5;

        @media screen and (min-width: $breakpoint-md) {
            width: 50%;
        }

        .gretting {
            font-weight: bold;
        }

        .profession {
            color: $text-color-accent;
            border-left: 3px solid $text-color-accent;
            padding-left: $basicPadding;
        }

        .aboutMe {
            color: $text-color-gray;
        }
    }

    .actions {
        & > * {
            margin-right: $basicMargin * 0.5;
        }
    }
}

.personalImg {
    img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        opacity: 0.8;
        filter: blur(0px);
        position: absolute;
        right: 0;
        top: 0;

        @media  screen and (max-width: 758px) {
            position: relative;
        }
    }
}
 