* {
    box-sizing: border-box;
    font-family: 'roboto';
};

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.document {
    margin: 50px;
    padding: 0;
    width: 1024px;
    min-height: 1400px;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0, 0.6);
    display: flex;
}



.left, .right {
    width: 50%;
    min-height: 100%;
    margin: 0;
    padding: 50px;
    padding-top: 100px;
}


.left {
    background: rgb(47, 46, 51);
    color: rgb(168, 168, 168);
    position: relative;
    overflow: hidden;
}

.left:after{
    width: 1000px;
    height: 75px;
    position: absolute;
    left: -50%;
    top: 0px;
    content: '';
    background-color: rgba(21, 255, 0, 0.397);
    transform: rotate(-45deg);
}

.left h1 {
    color: white;
}

.left p {
    margin: 0;
    padding: 0;
    padding-left: 10%;
}

.left a {
    color: gray
}

.left a:hover {
    color: white;
}

.profile-picture {
    margin: auto;
    padding: auto;

    background: url('../img/profil_picture.png') no-repeat center;
    /* background-size: cover; */
    background-size: contain;

    width: 400px;
    height: 400px;
    background-color: darkgray;

    border: 10px solid rgb(241, 241, 241);
    border-radius: 10% 0;
}

.right {
    background: white;
}

.right p {
    color: rgb(71, 71, 71);
}

.name , .surname {
    margin: 0;
    padding: 0;

    font-size: 72px;
    font-weight: 1000;
}

.position {
    padding: 0;
    margin: 0;

    color: darkgray;
    font-size: 24px;
}



