@use "@shared/styles" as *;
@use "../../styles/" as *;

.technologies {
    padding-top: $basicPadding * 2;
    padding-bottom: $basicPadding * 2;
    color: $text-white-basic;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $basicMargin;
}

.name {
    margin-left: $basicMargin;
}