
// Colors
$background-color-dark: #071927;
$background-color-light: #00ABF0;

$accent-color: $background-color-light;
$text-color: white;

$card-color-primary: #0a2335;
$card-color-secondary: #122E43;