
// Colors
$background-color-dark: #071927;
$background-color-light: #00ABF0;

$accent-color: $background-color-light;
$text-color: white;

$background-primary: #081B29;
$background-secondary: #122E43;