// Colors
$background-color-dark: #071927;
$background-color-light: #00abf0;

$text-color-basic: white;
$text-color-accent: $background-color-light;
$text-color-gray: rgb(194, 194, 194);;

$card-color-primary: #0a2335;
$card-color-secondary: #122e43;
