@use "../../styles/variables" as *;

.skillsList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.skillListItem {
    background-color: $text-color-accent;
    color: $background-darkgray;
    font-size: 0.7rem;
    margin: 0.2rem;
    padding: 0.2rem;
    font-weight: bold;
    box-shadow: 0 0 5px $text-color-accent;
}
