@use "@shared/styles" as *;

.container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    color: $text-white;
    overflow: hidden;

    .softSkillsList {
        list-style: square;
        margin: 0;
        padding: 0;

        li {
            list-style-position: inside;
            margin: .5rem 0;
            padding: .5rem 1rem;
            border-left: 0px solid transparent;
          
            background: linear-gradient(to right,  $secondary 80%, transparent );
            background-size: 200% 100%;
            background-position: right;
            transition: background-position 2s ease, border-left .3s ease;
          
            &:hover {
                border-left: 1rem solid $primary;
                background-position: left;
            }
          }
          
    }
}