@use "@styles/index" as *;
@use "../../styles/index" as *;

.orbitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbitContent {
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}


.orbitItemsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140%;
    height: 100%;
}

.orbitIcon {
    // background-color: rgba(255, 255, 255, 0.288);
    border: 2px solid $text-color-accent;
    padding: .5rem;
    border-radius: 50%;
}


$groupsNumber: 8;
$speedAnimation: 15s;


@for $index from 0 through calc($groupsNumber - 1) {
    $startAngle: (180/ $groupsNumber) * $index; 

    .orbitItem-#{$index} {
        @include rotate360(#{$startAngle}, $speedAnimation linear infinite); 
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: calc( 100% + $basicPadding*2 );

        .orbitIcon {
            @include rotate360(-#{$startAngle}, $speedAnimation linear infinite reverse); 
        }
    }
}

