@use "@shared/styles" as *;

.aboutMe {
    background: rgba($bg-primary, .7);

    .title {
        position: relative;
        width: 100%;
        padding-bottom: 1rem;
        
        &::before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background: linear-gradient(to right, $primary, $secondary);
        }
    }

    .aboutFlex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        

        .aboutMeSwiper {
            max-height: 250px;
        }

        @media(width < $md){
            grid-template-columns: repeat(1, 1fr);
        }
    }
} 



