@use "@shared/styles" as *;

.aboutMe {
    background: rgba($bg-primary, .7);

    .title {
        width: 100%;
    }

    .aboutFlex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        

        .aboutMeItem {
            max-height: 400px;
        }
    }
} 



