@use "@shared/styles" as *;

.aboutMe {
    background: rgba($bg-primary, .7);

    .title {
        width: 100%;
    }

    .aboutFlex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // box-shadow: inset 0 0 10px 10px $bg-primary;
        
        & > * {
            max-height: 400px;
            overflow-y: hidden;
            width: 100%;
        }
    }
} 