@use '../../variables' as *;

@mixin sidebar-container-style {
    margin: 0;
    padding: $sheet-padding;
    padding-left: 0;
    color: white;
}

.sidebarContainer {
    @include sidebar-container-style();
}

.sidebarContainerLight {
    @include sidebar-container-style();
    background-color: #3F4249;
}

.content {
    padding: 0 $sheet-padding;
    padding-top: 0;
}








