@use "@shared/styles" as *;

@mixin sidebar-container-style {
    margin: 0;
    padding: 1rem;
    padding-left: 0;
    color: $text-color;
}

.sidebarContainer {
    @include sidebar-container-style();
}

.sidebarContainerLight {
    @include sidebar-container-style();
    background-color: $bg-secondary;
}









