@use "@shared/styles" as *;

.aboutMe {
    background: rgba($bg-primary, 0.4);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .title {
        width: 100%;
    }

    .aboutFlex {
        display: flex;
        flex-wrap: wrap;
    }
}


