@use "@styles" as *;
@use "../../styles/" as *;

@mixin border-style {
    aspect-ratio: 1/1;
    border: 5px solid $text-color-accent;
    border-radius: 50%;
    content: "";
    position: absolute;
}

.aboutMe {
    padding-top: $basicPadding * 2;
    padding-bottom: $basicPadding * 2;
    background: $card-color-secondary;
    color: $text-color-basic;
}

.description {
    color: $text-color-gray;
}

.aboutPicture {
    height: 150px;
    display: flex;
    justify-content: center;
    padding: $basicPadding * 3;

    .pictureContainer {
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        img {
            position: relative;
            display: block;
            height: 100%;
            width: auto;
            border-radius: 100px;
        }

        &::before {
            @include border-style();
            height: calc(100% + $basicPadding);
            background-color: $card-color-primary;
        }

        &::after {
            @include border-style();
            height: calc(100% + 2.5 * $basicPadding);
            border-width: 2px;
            border-left: 0;
            border-right: 0;
            animation: rotate360 3s infinite reverse linear;
        }
    }
}
