// Colors
$bg-primary: black;
$bg-secondary: black;

$primary: black;
$secondary: black;
$accent: black;
$text-color: black;

$border-color: black;
$success: yellowgreen;
$error: red;
$warning: yellow;
$info: blue;
