// To delete
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$basicFontSize: 1rem;
$basicMargin: 1rem;
$basicPadding: 1rem;

// Under this line variables staying
$borderRadius: 1rem;

// Add application collors
// primary
// secondary
// background-primary
// Background-secondary
// background-thirthy