@use '../../styles/index' as *;

.backgroundPage {
    background: linear-gradient(to bottom, $background-color-dark 50%, $background-color-light);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}