
@use '@styles' as *;
@use '../../styles/index.scss' as *;

.dashboard {
    width: 60%
}

.profile {
    @include card-style;
    background-color: $card-color-primary;
    padding: 0;
    position: relative;
}