@use '@styles/index.scss' as *;
@use '../../styles/variables' as *;

.details {
    background-color: $background-color-dark;
    border: 1px solid white;
    flex-grow: 1;
    margin-left: $basicMargin;
}