@use '@styles' as *;

.sideWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;    
    margin: $basicMargin 0;
    padding: 0;
    
    & > div {
        padding: 0 $basicPadding*5;
        max-width: 1200px;
    }
}

