@use '../variables' as *;


.sidebarContainer {
    margin: 0;
    padding: $sheet-padding;
    padding-left: 0;
    color: white;
}

.content {
    padding: $sheet-padding;
    padding-top: 0;
}








