@use '@styles' as *;

.bulletList {
    list-style: none;
    margin: 0 0 $basicMargin $basicMargin;
    // margin-left: $basicMargin;
    padding: 0;
}

.title { 
    margin-bottom: $basicMargin;
    font-weight: lighter;
    letter-spacing: 2px;
}