@use './variables' as *;

.contactListItem {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-bottom: .2rem;
    
    .icon {
        margin: 0;
        padding: 0;
        width: 20px;
        
        
        &Box {
            width: 30px;
            padding: .4rem;
            aspect-ratio: 1/1;
            border: 2px solid white;
            border-radius: 50%;
            margin: .5rem;
            position: relative;
        }
    }
    
    .title, .subtitle {
        text-align: end;
        word-break: break-all;
    }
    
    .title {
        text-transform: uppercase;
        font-weight: bold;
    }

}    

