.cv {
    font-family: sans-serif !important;
}

.test {
    margin: 0 auto;
    padding: 0;
    width: 100px;
    text-align: center;
    background-color: greenyellow;
}

.profileContainer {
    img {
        width: 100%;
        height: auto;
    }
}