.cv {
    font-family: sans-serif !important;
    box-shadow: 0 0 .5rem black;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.btnDownload {
    background-color: white;
    padding: .3rem 1rem;
    margin: .5rem auto;
}