@import './variables';

.skillsList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.skillListItem {
    background-color: $accent-color;
    color: black;
    font-size: .8rem;
    margin: .2rem;
    padding: .2rem;
    font-weight: bold;
    box-shadow: 0 0 5px $accent-color;
}