@use "@shared/styles" as *;

.button {
    padding: .5rem;
    margin-right: .5rem;
    background: $primary;
    color: $text-white;
    outline: none;
    border: 0;

    &:hover {
        background: $accent;
        color: $text-white;
    }

    &:active {
        background-color: $accent;
    }
    

    &:focus {
        outline: 2px solid $text-white;
    }

    &:disabled {
        background: $bg-secondary;
        color: $text-muted;
    }
}
